
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
 }
 
 
 header {
    background-image: url("../imgs/baner.jpg");
    background-repeat: no-repeat;
    height: 5rem;
    background-size: cover;
    text-align: center;
 }
 
 
 main {
    height:  calc(100vh - 8rem);
 }
 
 
 main nav {
    background-color: rgb(66, 166, 206);
    display: flex;
    justify-content: center;
 }
 
 
 main nav h2 {
    padding: 0.5rem 5rem;
    color: white;
    text-shadow: 0.1rem 0.1rem 0rem black;
 }
 
 main p.texto1 {
    display: flex;
    justify-content: center;
 }

 h1 {
    color: white;
    text-shadow: 0.1rem 0.1rem 0rem black;
 }
 
 
 main h2 {
    padding: 2rem 1rem;
 }
 
 
 main p {
    padding: 0.5rem 1rem;
 }
 
 
 main li {
    padding: 1rem 3rem;
    list-style-type: upper-roman;
 }
 
 
 main li.quadrado {
    list-style-type: square;
 }
 
 
 footer {
    background-color: rgb(66, 166, 206);
    height: 3rem;
 }
 
 
 main nav a {
    text-decoration: none;
 }
 
 
 table thead tr th, table tr td{
    border: 0.2rem solid black;
    padding: 2rem;
 }
 
 main div {
    height: 40rem;
    width: 110rem;
    padding-left: 12rem;
    padding-top: 2rem;
 }

 table{
    border-collapse: collapse;
    width: 100%;
    height: 100%;
 }
 
 section {
    height: 100vh;
 }

 main.ancora {
    height:  calc(600vh);
 }

 main section{
   padding: 2rem;
 }

 main a{
   padding: 0rem 1rem;
   text-decoration: none;
   color: black
 }

 main section.resposta a{
   color: rgb(162, 71, 248);
 }